{% extends 'base.html' %}

{% block content %}


<br>

{% if api %}
    {% if api == "Error..." %}
        There was an error, please try again......
    {% else %}
    <div class="jumbotron">
        <h1 class="display-4">{{ api.0.Category.Name }}</h1>
        <p class="lead">Current {{ api.0.ReportingArea }} Air Quality Index: {{ api.0.AQI }}.</p>

        {% if api.0.Category.Name == "Good" %}
            <p>(0-50) Air quality is considered satisfactory, and air pollution poses little or no risk.</p>
        {% elif api.0.Category.Name == "Moderate" %}
            <p>(51-100) Air quality is acceptable; however, for some pollutants there may be a moderate health concern for a small number of people who are unusually sensitive to air pollution.</p>
        {% elif api.0.Category.Name == "Unhealthy for Sensitive Groups" %}
            <p>(101-150) Although genereal public is not likely to be affected at this AQI range, people with lung diasease, older adults and children are at a greater risk from the presence of particles in the air.</p>
        {% elif api.0.Category.Name == "Unhealthy" %}
            <p>(151-200) Everyone may begin to experience health affects; members of sensitive groups may experience more serious health affects.</p>
        {% elif api.0.Category.Name == "Very Unhealthy" %}
            <p>(201-300) Health alert: everyone may experience more serious health effects.</p>
        {% elif api.0.Category.Name == "Hazardous" %}
            <p>(301-500) Health warnings of emergency conditions. The entire population is more likely to be affected.</p>
        {% endif %}
    </div>

    {% endif %}
{% endif %}

{% endblock %}
